<header
  class="
    text-gray-800
    bg-gray-100
    h-16
    flex
    px-8
    items-center
    border-b border-gray-300
    shadow
  "
>
  <div>
    <h1 class="text-4xl font-semibold">Lean Stack</h1>
  </div>
</header>
<main class="text-gray-700 max-w-4xl px-8 my-8 mx-auto">
  <div class="py-8 px-4 border rounded shadow-lg">
    <h2 class="text-2xl font-semibold border-b border-gray-300 px-4 pb-2 mb-4">{{ title }}</h2>
    <div class="px-4">
      <p>Template-Repository für meine Schulungsbeispiele</p>
    </div>
  </div>
</main>
