<header class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
  <div class="navbar-brand d-flex align-items-center">
    <img src="/assets/logo.png" alt="Logo">
    <h1 class="h2 ms-2 mb-0">Lean Stack</h1>
  </div>
</div>
</header>
<main class="container mt-5">
  <div class="card w-75 mx-auto">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
      <p class="card-text">Template-Repository für meine Schulungsbeispiele</p>
    </div>
  </div>
</main>
